header.header
  a.header__logo.mob-hide(href='./')
    img(src='/images/inline/logo-normal.svg')

  a.header__logo.desk-hide(href='./')
    img(src='/images/inline/logo-mobile.svg')

  .steps
    .steps__back
      img(src='/images/inline/arrowleft.svg')
    
    .steps__count
      span.count 01
      span.pages / 05

    .steps__foward
      img(src='/images/inline/arrowright.svg')


  a.btn.header__button Entre em contato conosco

.header__form
  .container
    form.form
      .col-input
        label.input(for='contact-name')
          input#contact-name(type='text', name='name', placeholder='Nome', required)
          span.message-error Você precisa preencher esse campo
      
      .col-input
        label.input(for='contact-phone')
          input#contact-phone(type='tel', name='phone', placeholder='Telefone', required)
          span.message-error Você precisa preencher esse campo
      
      .col-input
        label.input(for='contact-email')
          input#contact-email(type='email', name='email', placeholder='Email', required)
          span.message-error Você precisa preencher esse campo
      
      .col-button
        button#contact__submit enviar #[img(src='/images/inline/arrowbemvindo.svg')]