@import './fonts';
@import './functions';
@import './mixins';
@import './variables';

@import './reset';

.content {
  position: relative;
  height: 80vh;
  width: 100%;
  padding: 0 rem(30);

  &--no-header {
    height: 90vh;
    padding: 0;
  }
}

.row {
  display: flex;
  align-items: stretch;
  padding: rem(15) 0;
  width: 100%;
  min-height: rem(1);
  @include clearfix;
}

[class^='col-'] {
  position: relative;
}

.col-50,
.col-half {
  display: block;
  float: left;
  width: 50%;
}

.col-20 {
  display: block;
  float: left;
  width: 20%;
}

.col-25 {
  display: block;
  float: left;
  width: 25%;
}

.col-75 {
  display: block;
  float: left;
  width: 75%;
}

$pages: 10, 20, 30, 40, 60, 80;

@each $item in $pages {
  .padright-#{$item} {
    padding-right: rem($item);
  }
}

@each $item in $pages {
  .padleft-#{$item} {
    padding-left: rem($item);
  }
}

@each $item in $pages {
  .marginright-#{$item} {
    margin-right: rem($item);
  }
}

@each $item in $pages {
  .marginleft-#{$item} {
    margin-left: rem($item);
  }
}

.border-top {
  border-top: rem(1) solid #c7c7c7;
}

.border-right {
  border-right: rem(1) solid #c7c7c7;
}

.border-bottom {
  border-bottom: rem(1) solid #c7c7c7;
}

.border-left {
  border-left: rem(1) solid #c7c7c7;
}

