@import './fonts';
@import './functions';
@import './mixins';
@import './variables';

@import './reset';


.row {
  padding: rem(30);
  width: 100%;
  min-height: rem(1);
  @include clearfix;
}

.col-50,
.col-half {
  display: block;
  float: left;
  width: 50%;
}

.col-25 {
  display: block;
  float: left;
  width: 25%;
}

.col-75 {
  display: block;
  float: left;
  width: 75%;
}

$pages: 10, 20, 40, 60, 80;

@each $item in $pages {
  .padright-#{$item} {
    padding-right: rem($item);
  }
}

@each $item in $pages {
  .padleft-#{$item} {
    padding-left: rem($item);
  }
}

@each $item in $pages {
  .marginright-#{$item} {
    margin-right: rem($item);
  }
}

@each $item in $pages {
  .marginleft-#{$item} {
    margin-left: rem($item);
  }
}
