@import './fonts';
@import './functions';
@import './mixins';
@import './variables';
@import './reset';

body,
html {
  @media #{$media__m} {
    height: 100%;
    width: 100%;
    position: relative;
  }
}

.container {
  position: relative;
  height: 100%;
  // margin-left: rem(20);
  // margin-right: rem(20);
  @include clearfix;

  @media #{$media__m} {
    width: $grid__size__m;
    margin-left: auto;
    margin-right: auto;
  }

  @media #{$media__l} {
    width: $grid__size__l;
  }

  @media #{$media__xl} {
    width: $grid__size__xl;
  }

  @media #{$media__xxl} {
    width: $grid__size__xxl;
  }
}


.content {
  position: relative;
  height: auto;
  width: 100%;
  margin: 0 rem(15);

  @media #{$media__m} {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  // @media #{$media__l} {
  //   height: rem(506);
  // }

  @media #{$media__m} {
    width: $grid__size__m;
    height: rem(496);
  }

  @media #{$media__l} {
    width: $grid__size__l;
  }

  @media #{$media__xl} {
    width: $grid__size__xl;
  }

  @media #{$media__xxl} {
    width: $grid__size__xxl;
    height: rem(496);
  }


  &--no-header {
    height: auto;
    height: 90vh;
    padding: 0;

    @media #{$media__m} {
      height: 90vh;
    }
  }
}

.row {
  display: block;
  padding: rem(10) 0;
  width: 100%;
  min-height: rem(1);
  @include clearfix;

  @media #{$media__m} {
    display: flex;
    align-items: stretch;
  }

  &--stretch {
    height: 100%;
  }
}

[class^='col-'] {
  position: relative;
  @include clearfix;
}

.col-50,
.col-half {
  display: block;
  width: 100%;
  margin-bottom: rem(40);

  @media #{$media__m} {
    width: 50%;
    margin-bottom: 0;
  }
}

.col-20 {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: rem(40);

  @media #{$media__m} {
    width: 20%;
    margin-bottom: 0;
  }
}

.col-30 {
  display: block;
  width: 100%;
  margin-bottom: rem(40);

  @media #{$media__m} {
    width: 30%;
    margin-bottom: 0;
  }
}


.col-25 {
  display: block;
  width: 100%;
  margin-bottom: rem(40);

  @media #{$media__m} {
    width: 25%;
    margin-bottom: 0;
  }
}

.col-60 {
  display: block;
  width: 100%;
  margin-bottom: rem(40);

  @media #{$media__m} {
    width: 60%;
    margin-bottom: 0;
  }
}


.col-75 {
  display: block;
  width: 100%;
  margin-bottom: rem(40);

  @media #{$media__m} {
    width: 50%;
    margin-bottom: 0;
  }
}

.mob-hide {
  display: none;
  
  @media #{$media__m} {
    display: block;
  }
}

.mob-inlineblock-hide {
  display: none;

  @media #{$media__m} {
    display: inline-block;
  }
}

.mob-flex-hide {
  display: none;

  @media #{$media__m} {
    display: flex;
  }
}

.desk-hide {
  @media #{$media__m} {
    display: none;
  }
}


$pages: 0, 10, 20, 30, 40, 60, 80;

@each $item in $pages {
  .padright-#{$item} {
    padding-right: rem($item) !important;
  }
}

@each $item in $pages {
  .padleft-#{$item} {
    padding-left: rem($item) !important;
  }
}

@each $item in $pages {
  .marginright-#{$item} {
    margin-right: rem($item) !important;
  }
}

@each $item in $pages {
  .marginleft-#{$item} {
    margin-left: rem($item) !important;
  }
}

@each $item in $pages {
  .marginbottom-#{$item} {
    margin-bottom: rem($item) !important;
  }
}

.border-top {
  border-top: rem(1) solid #c7c7c7;
}

.border-right {
  border-right: rem(1) solid #c7c7c7;
}

.border-bottom {
  border-bottom: rem(1) solid #c7c7c7;
}

.border-left {
  border-left: rem(1) solid #c7c7c7;
}

