@import '../config/config';

.header {
  display: block;
  position: relative;
  height: rem(60);
  margin: 0 rem(15);
  border-bottom: rem(1) solid #c7c7c7;

  @media #{$media__m} {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    margin: 0 rem(40);
    width: $grid__size__m;
    margin-left: auto;
    margin-right: auto;
  }

  @media #{$media__l} {
    width: $grid__size__l;
  }

  @media #{$media__xl} {
    width: $grid__size__xl;
  }

  @media #{$media__xxl} {
    width: $grid__size__xxl;
  }
}

.header__logo {
  float: left;
  position: relative;
  top: 50%;
  margin-top: rem(-21);
  width: rem(40);
  height: rem(40);

  &:hover {
    svg g {
      fill: $greeny-blue;
    }
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;

    g {
      @include transition(all .3s linear);
    }
  }
}

.home {
  .steps {
    display: block;
  }
}

.steps {
  display: none;
  position: absolute;
  top: 50%;
  width: rem(156);
  left: 50%;
  margin-top: rem(-15);
  margin-left: rem(-78);
}

.steps__back {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.steps__count {
  display: inline-block;
  vertical-align: middle;
  margin: 0 rem(10);
  font-family: $font-title;
  font-size: rem(12);
  font-weight: normal;
  letter-spacing: rem(3);
  text-align: center;
  

  span.count {
    color: $black;
  }

  span.pages {
    color: #c7c7c7;
  }
}

.steps__foward {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.steps__back,
.steps__foward {
  &:hover {
    svg {
      circle {
        fill: $greeny-blue;
      }

      g g path:first-child {
        fill: $greeny-blue;
      }
    }
  }

  svg {
    circle,
    path {
      @include transition(all .3s linear);
    }
  }
}

.header__button {
  display: none;
  float: right;
  position: relative;
  top: 50%;
  margin-top: rem(-18);
  height: rem(36);
  width: rem(240);
  background-color: $tomato;
  text-align: center;
  line-height: rem(36);
  text-transform: uppercase;
  font-weight: 300;
  color: $white;
  cursor: pointer;

  @media #{$media__m} {
    display: block;
  }
}

.header__form {
  display: none;
  position: absolute;
  top: 10vh;
  width: 100%;
  padding: rem(40) 0;
  background-color: $white;
  @include clearfix;

  .col-input {
    display: block;
    float: left;
    width: 28%;
    padding-right: 2%;
  }

  .col-button {
    display: block;
    float: left;
    width: 16%;
  }
}
