@import '../config/config';

.menu {
  position: relative;
  z-index: 1;
  display: block;
  clear: both;
  height: rem(100);
  width: 100%;
  background-color: $cloudy-two;
  margin: 0;
  @include clearfix;

  @media #{$media__m} {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh;
    padding: 0 rem(40);
  }
}

.menu__list {
  position: relative;
  display: block;
  float: left;
  top: 50%;
  margin-top: rem(-14);
}

.menu__list__item {
  font-size: rem(18);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: left;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
  @include transition(color .3s linear);
  
  @media #{$media__m} {
    margin-right: rem(5);
    font-size: rem(13);
  }

  @media #{$media__l} {
    margin-right: rem(10);
    font-size: rem(16);
  }

  @media #{$media__xl} {
    margin-right: rem(15);
    font-size: rem(18);
  }

  &.active,
  &:hover {
    color: $tomato;
  }

  &:after {
    content: '|';
    display: inline-block;
    color: $black !important;

    @media #{$media__m} {
      margin-left: rem(5);
    }

    @media #{$media__l} {
      margin-left: rem(10);
    }

    @media #{$media__xl} {
      margin-left: rem(15);
    }
  }

  &:last-child:after  {
    display: none;
  }
}

.menu__social {
  display: block;
  width: 100%;
  padding-top: rem(35);
  text-align: center;

  @media #{$media__m} {
    position: relative;
    top: 50%;
    float: right;
    width: auto;
    text-align: left;
    margin-top: rem(-18);
    padding-top: 0;
  }
}

.menu__social__item {
  position: relative;
  cursor: pointer;

  @media #{$media__m} {
    margin-right: rem(5);
  }

  @media #{$media__l} {
    margin-right: rem(30);
  }

  svg {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index: 1;
    width: rem(32);
    height: rem(32);
    
    path:first-child,
    g {
      @include transition(all .3s linear);
    }
  }
  
  &:last-child {
    margin-right: rem(0);
    
    &:before {
      content: '|';
      display: inline-block;
      vertical-align: middle;
      margin-right: rem(30);
      font-size: 18px;
      font-weight: 500;

      @media #{$media__m} {
        margin-right: rem(5);
      }

      @media #{$media__l} {
        margin-right: rem(30);
      }
    }
  }

  

  &:hover {
    .menu__social__item__info {
      display: inline-block;
    }

    svg {
      path:first-child,
      g {
        fill: $tomato;
      }
    }
  }
}

.menu__social__item__info {
  display: none;
  position: absolute;
  z-index: 0;
  left: rem(-47);
  bottom: rem(77);
  border-radius: rem(30);
  background-color: $cloudy;
  height: rem(30);
  width: rem(190);
  padding: 0 rem(10) 0 rem(40);
  font-size: rem(12);
  line-height: rem(32);
  text-transform: uppercase;
  letter-spacing: rem(01);
  @include rotate(270deg);
}












