.modal-thumb {
  width: 100%;
  cursor: pointer;
}

img.modal-thumb__img {
  display: block;
  width: 100%;
}

.modal-thumb__title {
  background-color: $tomato;
  text-align: right;
  height: rem(35);
  padding: 0 rem(10);
  line-height: rem(33);

  h3 {
    display: inline-block;
    margin-right: rem(4);
    vertical-align: middle;
    font-family: $font;
    font-size: rem(14);
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: rem(0.8);
    text-align: right;
    text-transform: uppercase;
    color: $white;
  }

  svg {
    display: inline-block;
    vertical-align: middle;
  }
}