.modal {
  display: none;
  position: absolute;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($white, 0.9);

  .modal__close {
    position: absolute;
  }
}

.modal__close {
  z-index: 2;
  top: rem(30);
  right: rem(30);
  width: rem(30);
  height: rem(30);
  background-color: $tomato;
  border-radius: 50%;
  text-align: center;
  line-height: rem(34);
  cursor: pointer;
  overflow: hidden;
}

.modal__content {
  width: 70%;
  height: 90%;
  margin: 5% auto;

  img {
    display: none;
    width: auto;
    height: 100%;
  }
}

.frame__wrapper {
  display: none;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

