@import '../config/config';

.form {
  .input {
    position: relative;
    margin-bottom: rem(25);

    input {
      width: 100%;
      height: rem(40);
      border: solid rem(0.5) #c7c7c7;
      outline: none;
      padding: 0 rem(15);
      border-radius: none;
      font-family: $font;
      font-size: rem(16);
      line-height: rem(1.38);
      letter-spacing: rem(0.2);
      color: $cloudy;
      @include placeholder {
        color: $black;
      }
    }

    textarea {
      width: 100%;
      height: rem(200);
      border: solid rem(0.5) #c7c7c7;
      border-radius: none;
      outline: none;
      padding: rem(20) rem(15);
      font-family: $font;
      font-size: rem(16);
      line-height: rem(1.38);
      letter-spacing: rem(0.2);
      color: $cloudy;
      @include placeholder {
        color: $black;
      }
    }

    span.message-error {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      height: rem(40);
      width: 100%;
      padding: 0 rem(15);
      background-color: $white;
      border: solid rem(0.5) #c7c7c7;
      line-height: rem(40);
      font-family: $font;
      letter-spacing: rem(0.5);
      color: $tomato;

    }
  }

  button {
    display: block;
    float: right;
    border: none;
    font-family: $font;
    background-color: transparent;
    outline: none;
    font-size: rem(18);
    font-weight: 500;
    letter-spacing: rem(0.6);
    text-align: left;
    text-transform: uppercase;
    color: $tomato;
    cursor: pointer;
    @include transition(all .3s linear);

    &:hover {
      color: $greeny-blue;

      svg {
        ellipse {
          fill: $greeny-blue;
        }

        g g path:first-child {
          fill: $greeny-blue;
        }
      }
    }

    svg {
      margin-left: rem(7);
      vertical-align: middle;

      ellipse,
      path {
        @include transition(all .3s linear);
      }
    }
  }
}

.contact__infos {
  display: block;
  margin-bottom: rem(35);
  text-decoration: none;
  outline: none;
  cursor: pointer;
  
  span.contact__infos__icon {
    display: none;
    vertical-align: middle;
    width: rem(30);
    height: rem(30);
    margin-right: rem(15);
    border-radius: 50%;

    @media #{$media__m} {
      // font-size: rem(24);
    }

    @media #{$media__l} {
      display: inline-block;
    }

    svg {
      width: 100%;
      height: 100%;

      g {
        @include transition(all .2s linear);
      }
    }
  }

  &:hover {
    g {
      fill: #52B2A1;
    }
  }

  p.contact__infos__text {
    display: inline-block;
    vertical-align: middle;
    font-family: $font;
    font-size: rem(18);
    font-weight: 300;
    letter-spacing: rem(0.5);
    color: $black;
  }

  .contact__infos__wpp {
    margin-left: rem(8);
  }
}

