@import '../config/config';

.ficha {
  .row {
    display: block;

    @media #{$media__m} {
      display: flex;
    }
  }

  .col-25.first {
    @media #{$media__m} {
      margin-right: rem(60);
      border-right: rem(1) solid #c7c7c7;
    }

    @media #{$media__l} {
      
    }
  }

  .col-25 {
    @media #{$media__m} {
      float: left;
      width: 50%;
      margin-bottom: rem(20);

      &:nth-child(3) {
        clear: both;
      }
    }

    @media #{$media__l} {
      margin-bottom: 0;
      width: 25%;

      &:nth-child(3) {
        clear: none;
      }
    }
  }
}

.datasheet__infos {
  margin-bottom: rem(30);

  &.last {
    margin-bottom: 0;
  }
}

h2.datasheet__subtitle {
  font-family: $font;
  font-size: rem(16);
  font-weight: 300;
  line-height: 1.38;
  letter-spacing: rem(0.2);
  font-weight: 500;
  color: $greeny-blue;
}

.datasheet__paragraph {
  font-family: $font;
  font-size: rem(16);
  font-weight: 300;
  line-height: 1.38;
  letter-spacing: rem(0.2);
  color: $black;

  strong {
    font-weight: 500;
  }
}

.squared {
  font-size: 70%;
  display: inline-block;
  vertical-align: top;
  padding-left: rem(1);
}

.datasheet__category__name {
  margin-bottom: rem(20);
  font-family: $font;
  font-size: rem(18);
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: rem(0.1);
  text-transform: uppercase;
  color: $black;
}

.datasheet__category__item {
  display: flex;
  align-items: center;
  margin-bottom: rem(15);  

  p {
    font-family: $font;
    font-size: rem(14);
    line-height: 1;
    letter-spacing: rem(0.5);
    color: #675b59;
  }
}

.datasheet__category__item__img {
  width: rem(28);
  padding-right: rem(10);

  svg {
    width: 100%;
    max-width: rem(18);
    height: auto;
    height: auto;
    max-height: rem(18);
  }
}

.datasheet__obs {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: rem(40);
  font-family: $font;
  font-size: rem(10);
  line-height: 1.2;
  color: #838383;
}