@import '../config/config';

.loading {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: $cloudy-two;
  text-align: center;
}

.loading__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: rem(370);
  height: rem(230);
  margin: auto;
}

.loading__content__img {
  display: block;
  margin: 0 auto rem(30);
}

.loading__content__percent {
  font-size: rem(30);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: $black;
}

.loading__content__welcome {
  display: none;
  font-size: rem(30);
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  
  strong {
   font-weight: 500; 
  }
}

// Introduction
.introduction {
  display: block;
  height: 100%;
  width: 100%;
  background: url(../images/Urba_HOME1920.jpg) no-repeat center center $black;
  background-size: cover;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.6);
  }
}

.introduction__logo {
  display: block;
  position: absolute;
  top: rem(44);
  left: rem(38);
}

.introduction__infos {
  position: absolute;
  top: 0;
  right: rem(38);
  width: rem(306);
  height: rem(208);
  padding: rem(83) rem(20);
  background-color: $cloudy;
  text-align: center;
}

.introduction__title {
  margin-bottom: rem(10);
  font-size: rem(45);
  line-height: 0.67;
  font-weight: 500;
  letter-spacing: rem(0.3);
  text-transform: uppercase;
  color: $tomato;
}

.introduction__subtitle {
  text-transform: uppercase;
  font-size: rem(22);
  line-height: 1.36;
  color: $black;
  margin-bottom: rem(7);
  padding-bottom: rem(7);
  border-bottom: rem(1) solid $black;
}

.introduction__paragraph {
  font-size: rem(16);
  font-weight: 500;
  line-height: 1.88;
  letter-spacing: rem(0.2);
  color: $black;
}

.introduction__ahead {
  position: absolute;
  bottom: rem(50);
  right: rem(30);
  width: rem(316);
  height: rem(308);
}

.introduction__ahead__title {
  margin-bottom: rem(25);
  font-size: rem(50);
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
  color: $white;
}

.introduction__ahead__go {
  display: block;
  font-size: rem(18);
  font-weight: 100;
  letter-spacing: 0.6px;
  text-align: left;
  text-transform: uppercase;
  color: $white;
  cursor: pointer;
  
  strong {
    font-weight: 600
  }

  svg {
    margin-left: rem(7);
    vertical-align: middle;
  }
}

.content.no-padding {
  padding: 0;
}

.home .header {
  display: none;
}

.overscroll {
  display: none;
  width: 100%;

  .row {
    height: 80vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::-webkit-scrollbar {
      display: none;
    }

    .col-small {
      flex: 0 0 auto;
      width: 25vw;
      padding: 0 0 0 rem(30);
    }

    .col-middle {
      flex: 0 0 auto;
      width: 40vw;
      padding: 0 0 0 rem(30);
    }

    .col-large {
      flex: 0 0 auto;
      width: 50vw;
      padding: 0 0 0 rem(30);
    }

    .no-pad {
      padding: 0;
    }
  }
}

.enterprise__chapter {
  display: flex;
  align-items: flex-end;
  margin-bottom: rem(22);
  color: $black;
  font-weight: normal;

  span {
    margin-right: rem(10);
    font-family: $font-title;
    font-size: rem(90);
    line-height: rem(65);
    letter-spacing: rem(-5.9);
  }

  p {
    font-family: $font;
    font-size: rem(24px);
    line-height: 1;
    letter-spacing: rem(0.1);
  }
}

.enterprise__paragraph {
  margin-bottom: rem(20);
  font-size: rem(16);
  font-weight: 300;
  line-height: 1.38;
  letter-spacing: rem(0.2);
  color: $black;

  strong {
    font-weight: 500;
  }
}

.enterprise__video {
  background-image: url(../images/Urba_video-1.jpg);
}

.end-scroll {
  display: flex;
  align-items: center;
  background-color: $black;
  text-align: center;
  padding: 0;
  margin-left: rem(40);

  .link {
    width: 100%;
  }

  p {
    font-family: $font;
    font-size: rem(20);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: rem(0.1);
    text-transform: uppercase;
    color: $tomato;
  }

  h4 {
    font-family: $font-title;
    font-size: rem(40);
    text-transform: uppercase;
    color: $white;
  }
}

// imgSlider
.slider {
  padding: 0;
  position: relative;
}

.slider .right.image {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
}

.slider .left.image{
  position: relative;
  z-index: 2;
  border-right: 3px solid white;
  margin-right: -5px;
  overflow: hidden;
}

.slider .instruction {
  position: absolute;
  top: 50%;
  z-index: 1000;
  width: 95%;
}

.slider .instruction p{
  background: white;
  display: inline;
  padding: 1%;
  font-size: 1em;
  text-transform: uppercase;
}










