@import '../config/config';

.location {
  .row.first-row {
    @media #{$media__m} {
      border-bottom: rem(1) solid #c7c7c7;
    }
  }
  
  .col-mid {
    @media #{$media__m} {
      padding: 0 rem(30);
      border-left: rem(1) solid #c7c7c7;
      border-right: rem(1) solid #c7c7c7;
    }
  }
}

.location__address {
  display: flex;
  align-items: center;

  svg {
    display: block;
    margin-right: rem(7);
  }

  p {
    font-size: rem(16);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: rem(0.1);
    font-style: normal;
    text-transform: uppercase;
    color: $tomato;

    @media #{$media__m} {
      font-size: rem(13);
    }

    @media #{$media__l} {
      font-size: rem(16);
    }
  }
}

.location__title {
  @media #{$media__l} {
    font-size: rem(30);
  }

  @media #{$media__xl} {
    font-size: rem(36);
  }
}

.location__filter__title {
  margin-bottom: rem(20);
  font-family: $font;
  font-size: rem(16);
  font-weight: 300;
  line-height: 1.38;
  letter-spacing: rem(0.2);
  color: $black;
}

.location__filter {
  display: block;
  clear: both;
  width: 100%;
}

.location__filter__item {
  display: flex;
  align-items: center;
  float: left;
  height: rem(26);
  margin-bottom: rem(15);
  cursor: pointer;

  @media #{$media__m} {
    width: 33.33333%;
  }

  @media #{$media__l} {
    width: 25%;
  }

  @media #{$media__xl} {
    width: 20%;
  }

  p {
    font-family: $font;
    font-size: rem(14);
    line-height: 1;
    letter-spacing: rem(0.5);
    color: #675b59;
  }

  &:hover,
  &.active {
    svg g {
      fill: $tomato !important;
    }
  }
}

.location__filter__item__img {
  width: rem(28);
  padding-right: rem(10);

  svg {
    width: 100%;
    max-width: rem(18);
    height: auto;
    height: auto;
    max-height: rem(18);
  }
}

.location__map {
  display: block;
  position: relative;
  clear: both;
  width: 100%;
  height: auto;

  &:hover {
    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      background-color: rgba($black, 0.4);
    }

    .location__map__googlemaps {
      display: block;
    }
  }
}

.location__map__direction {
  display: block;
  position: absolute;

  &.top {
    top: rem(-3);
    left: 50%;
    margin-left: rem(-39);
  }

  &.right {
    top: 50%; 
    right: rem(-3);
    margin-top: rem(-12);
  }

  &.bottom {
    bottom: rem(-3);
    left: 50%;
    margin-left: rem(-39);
  }

  &.left {
    top: 50%; 
    left: rem(-3);
    margin-top: rem(-12);
  }
}

a.location__map__googlemaps {
  height: rem(40);
  padding-top: rem(10);
  background-color: $tomato;
  text-align: center;
  text-decoration: none;

  &:hover {
    svg g {
      fill: $greeny-blue;
    }
  }

  &.first {
    display: none;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: rem(300);
    margin-top: rem(-20);
    margin-left: rem(-150);
  }

  &.second {
    display: block;
    width: 100%;
    margin: rem(20) auto rem(40);

    @media #{$media__m} {
      display: none;
    }
  }

  p {
    display: inline-block;
    margin-right: rem(10);
    color: $white;
    text-transform: uppercase;
  }

  span {
    display: inline-block;
    background-color: $white;
    width: rem(20);
    height: rem(20);
    border-radius: 50%;
    text-align: center;

    svg {
      display: inline-block;
      margin-top: rem(4);
      width: rem(12);
      height: rem(12);

      g {
        @include transition(all .2s linear);
      }
    }
  }
}

.location__map__img {
  display: block;
  width: 100%;
  height: auto;
}












