@import '../config/config';

.perspective__row {
  height: 100%;
}

.perspective__title {
  margin-bottom: rem(30);
  font-family: $font-title;
  font-size: rem(36);
  line-height: 1.17;
  letter-spacing: rem(-1.5px);
  color: $black;
  text-transform: uppercase;
}

.perspective__paragraph {
  margin-bottom: rem(20);
  font-size: rem(16);
  font-weight: 300;
  line-height: 1.38;
  letter-spacing: rem(0.2);
  color: $black;

  strong {
    font-weight: 500;
  }
}

.perspective__video {
  display: block;
  position: relative;
  width: 100%;
  height: rem(250);
  background: url(../images/predio-inteiro.jpg) no-repeat center center $black;
  background-size: cover;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($black, 0.5);
  }
}

.perspective__video__wrap {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: rem(200);
  height: rem(80);
  margin: auto;
}

.perspective__video__play {
  display: block;
  margin: 0 auto rem(10);
}

.perspective__video__title {
  font-size: rem(16);
  font-weight: 600;
  line-height: 1.19;
  letter-spacing: rem(0.5);
  color: $white;
  text-transform: uppercase;
}

.perspective__space {
  display: block;
  height: 100%;
  background-color: $tomato;
}

.perspective__space__download {
  display: block;
  text-align: right;
  height: rem(35);
  padding: rem(6) rem(15);

  p {
    display: inline-block;
    margin-right: rem(10);
    vertical-align: middle;
    font-family: $font;
    font-size: rem(14);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: rem(0.8);
    text-transform: uppercase;
    color: $white;
  }

  svg {
    display: inline-block;
    vertical-align: middle;
  }
}

.perspective__space__item {
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 35px);
  padding: 0 rem(30);
  background-color: $very-light-pink;
}

.carousel-dot {
  display: block;
  width: 100%;
  padding: rem(22) 0;
  border-bottom: rem(1) solid $white;
  cursor: pointer;
  opacity: 0.4;

  &.active {
    opacity: 1;
  }

  h3 {
    font-family: $font;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: rem(0.1);
    text-transform: uppercase;
    color: $tomato;
  }

  p {
    font-family: $font;
    font-size: rem(14);
    font-weight: 300;
    line-height: 1.36;
    letter-spacing: rem(0.5);
    color: #372e2d;
  }
}

.perspective__carousel {
  display: block;
  width: 100%;
  height: auto;

  .owl-nav {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin: 0;

    button {
      overflow: hidden;
      width: rem(30);
      height: rem(30);
      margin: 0 !important;
      border-radius: 50% !important;
      background-color: $tomato !important;
      text-align: center;
      outline: none;

      span {
        color: $white;
        font-size: rem(20);
        font-weight: 100;
        line-height: rem(10);
      }
    }

    .owl-prev {
      float: left;
      margin-left: rem(20) !important;
    }

    .owl-next {
      float: right;
      margin-right: rem(20) !important;
    }
  }
}





