@import '../config/config';

.perspective {
  .col-25.first {
    @media #{$media__m} {
      width: 50%;
      padding-right: rem(40);
    }

    @media #{$media__l} {
      width: 25%;
    }
  }

  .space {
    display: none;

    @media #{$media__l} {
      display: block;
    }
  }

  .last {
    @media #{$media__m} {
      padding-left: rem(20);
    }
  }
}

.perspective__title {
  @media #{$media__m} {
    font-size: rem(24);
  }

  @media #{$media__l} {
    font-size: rem(30);
  }

  @media #{$media__xl} {
    font-size: rem(36);
  }
}

.perspective__video {
  background-image: url(../images/Urba_video-2.jpg);
}

.perspective__space {
  display: block;
  margin-bottom: rem(40);

  &.second {
    @media #{$media__l} {
      display: none;
    }
  }

  @media #{$media__l} {
    height: 100%;
    margin-bottom: 0;
  }
}

.perspective__space__download {
  background-color: $tomato;
  text-align: right;
  height: rem(35);
  padding: rem(7) rem(15);


  &.first {
    display: none;

    @media #{$media__l} {
      display: block;
    }
  }

  &.second {
    text-align: center;
    display: block;

    @media #{$media__l} {
      display: none;
    }
  }
  

  p {
    display: inline-block;
    margin-right: rem(10);
    vertical-align: middle;
    font-family: $font;
    font-size: rem(14);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: rem(0.8);
    text-transform: uppercase;
    color: $white;

    @media #{$media__l} {
      font-size: rem(12);
      margin-right: rem(3);
    }

    @media #{$media__xl} {
      font-size: rem(14);
      margin-right: rem(10);
    }
  }

  svg {
    display: inline-block;
    vertical-align: middle;
  }
}

.perspective__space__item {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  width: 100%;
  padding: 0 rem(10);
  background-color: $very-light-pink;

  @media #{$media__l} {
    display: block;
    overflow-y: auto;
    padding: 0 rem(30);
    height: calc(100% - 35px);
  }
}

.carousel-dot {
  display: block;
  width: 100%;
  flex: 0 0 auto;
  padding: rem(22) rem(15);
  border-bottom: rem(1) solid $white;
  cursor: pointer;
  opacity: 0.4;
  @include transition(opacity .3s linear);

  @media #{$media__l} {
    padding: rem(22) 0;
  }

  &.active {
    opacity: 1;
  }

  h3 {
    font-family: $font;
    font-size: rem(18);
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: rem(0.1);
    text-transform: uppercase;
    color: $tomato;

    @media #{$media__m} {
      font-size: rem(18);
    }

    @media #{$media__l} {
      font-size: rem(14);
    }

    @media #{$media__xl} {
      font-size: rem(18);
    }
  }

  p {
    font-family: $font;
    font-size: rem(14);
    font-weight: 300;
    line-height: 1.36;
    letter-spacing: rem(0.5);
    color: #372e2d;
  }
}



