@import '../config/config';

.perspective__title {
  margin-bottom: rem(30);
  font-family: $font-title;
  font-size: rem(36);
  line-height: 1.17;
  letter-spacing: rem(-1.5px);
  color: $black;
  text-transform: uppercase;
}

.perspective__paragraph {
  margin-bottom: rem(20);
  font-size: rem(16);
  font-weight: 300;
  line-height: 1.38;
  letter-spacing: rem(0.2);
  color: $black;

  strong {
    font-weight: 500;
  }
}

.perspective__video {
  background-image: url(../images/Urba_video-2.jpg);
}

.perspective__space {
  display: block;
  height: 100%;
  background-color: $tomato;
}

.perspective__space__download {
  display: block;
  text-align: right;
  height: rem(35);
  padding: rem(6) rem(15);

  p {
    display: inline-block;
    margin-right: rem(10);
    vertical-align: middle;
    font-family: $font;
    font-size: rem(14);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: rem(0.8);
    text-transform: uppercase;
    color: $white;
  }

  svg {
    display: inline-block;
    vertical-align: middle;
  }
}

.perspective__space__item {
  overflow-y: auto;
  width: 100%;
  height: calc(100% - 35px);
  padding: 0 rem(30);
  background-color: $very-light-pink;
}

.carousel-dot {
  display: block;
  width: 100%;
  padding: rem(22) 0;
  border-bottom: rem(1) solid $white;
  cursor: pointer;
  opacity: 0.4;

  &.active {
    opacity: 1;
  }

  h3 {
    font-family: $font;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: rem(0.1);
    text-transform: uppercase;
    color: $tomato;
  }

  p {
    font-family: $font;
    font-size: rem(14);
    font-weight: 300;
    line-height: 1.36;
    letter-spacing: rem(0.5);
    color: #372e2d;
  }
}



