doctype html  
html(lang='pt-BR')
  include includes/head.pug
  body
    include includes/header.pug

    #content.content.contato
      .row
        .col-25.padright-40
          h1.main-title.contact__title entre em#[br]contato
          p.paragraph Deixe seus dados e um de nossos #[strong colaboradores] irá entrar em contato diretamente com você
          
        .col-50.padright-40
          form#contact__form.contact__form.form
            label.input(for='contact-name')
              input#contact-name(type='text', name='name', placeholder='Nome', required)
              span.message-error Você precisa preencher esse campo
            
            label.input(for='contact-phone')
              input#contact-phone(type='tel', name='phone', placeholder='Telefone', required)
              span.message-error Você precisa preencher esse campo

            label.input(for='contact-email')
              input#contact-email(type='email', name='email', placeholder='Email', required)
              span.message-error Você precisa preencher esse campo

            label.input(for='contact-message')
              textarea#contact-message(name='message', placeholder='Mensagem', required)
              span.message-error Você precisa preencher esse campo

            button#contact__submit enviar #[img(src='/images/inline/arrowbemvindo.svg')]

        .col-25.padleft-30.border-left.mob-hide
          .contact__infos
            span.contact__infos__icon
              img(src='/images/inline/endereco.svg')
            p.contact__infos__text Rua Barão de Ubá, 87
          a.contact__infos(href='mailto:contato@urba87.com.br')
            span.contact__infos__icon
              img(src='/images/inline/gmail.svg')
            p.contact__infos__text contato@urba87.com.br
          a.contact__infos(href='tel:+5521997252550')
            span.contact__infos__icon
              img(src='/images/inline/telefone.svg')
            p.contact__infos__text
              | + 55 21 99725-2550
              img.contact__infos__wpp(src='/images/inline/whastapp.svg')
          a.contact__infos(href='http://facebook.com.br/urba87')
            span.contact__infos__icon
              img(src='/images/inline/facebook.svg')
            p.contact__infos__text /urba87

    include includes/menu.pug

    #contact__response.contact__response
      .contact__response__content
        img(src='/images/inline/logo-black.svg')
        p.contact__response__content__welcome
          strong Mensagem enviada com sucesso!
    
      
    script(src='./scripts/jquery-3.3.1.min.js')
    script(src='./scripts/main.min.js')


