doctype html  
html(lang='pt-BR')
  include includes/head.pug
  body
    include includes/header.pug

    #content.content.content--with-header
      .row
        .col-25.padright-20
          h1.datasheet__title FICHA#[br]TÉCNICA

          .datasheet__infos
            h2.datasheet__subtitle TIPOLOGIA DAS UNIDADES 
            p.datasheet__paragraph 1 bloco
            p.datasheet__paragraph 13 andares
            p.datasheet__paragraph 2 elevadores
          
          .datasheet__infos
            h2.datasheet__subtitle METRAGEM
            p.datasheet__paragraph Área do terreno: 1.389,90 m²
            p.datasheet__paragraph 70 apartamentos de 68,50* m²
            p.datasheet__paragraph 2 coberturas lineares de 140,00* m²
          
          .datasheet__infos
            h2.datasheet__subtitle VAGAS
            p.datasheet__paragraph 1 vaga/unidade*#[span.squared 4]

        .col-25.padright-20
          .datasheet__category__name diferenciais

          .datasheet__category__item
            .datasheet__category__item__img
              img(src='/images/inline/armarios.svg')
            p Armários com boxes individuais

          .datasheet__category__item
            .datasheet__category__item__img
              img(src='/images/inline/armarios.svg')
            p Wi-fi nas áreas comuns

          .datasheet__category__item
            .datasheet__category__item__img
              img(src='/images/inline/eletricity.svg')
            p Ponto para bicicletas e carros elétricos
          
          .datasheet__category__item
            .datasheet__category__item__img
              img(src='/images/inline/irrigacao.svg')
            p Irrigação automática*2

          .datasheet__category__item
            .datasheet__category__item__img
              img(src='/images/inline/reusoaguas.svg')
            p Reuso de águas cinzas e pluviais

          .datasheet__category__item
            .datasheet__category__item__img
              img(src='/images/inline/medidor.svg')
            p Medidores individuais de água

          .datasheet__category__item
            .datasheet__category__item__img
              img(src='/images/inline/usb.svg')
            p Ponto USB nas unidades

          .datasheet__category__item
            .datasheet__category__item__img
              img(src='/images/inline/fechadura.svg')
            p Fechadu

          .datasheet__category__item
            .datasheet__category__item__img
              img(src='/images/inline/arcondicionado.svg')
            p Preparação para ar condicionado tipo split (elétrica e dreno)

          .datasheet__category__item
            .datasheet__category__item__img
              img(src='/images/inline/sensor.svg')
            p Sensor de presença nos pavimentos
  

        .col-25.padright-20
          .datasheet__category__name COMPARTILHAMENTO

          .datasheet__category__item
            .datasheet__category__item__img
              img(src='/images/inline/paineltrocas.svg')
            p Painel de trocas (para trocar livros e serviços) 

          .datasheet__category__item
            .datasheet__category__item__img
              img(src='/images/inline/homeoffice.svg')
            p Home-office com sala de reunião*#[span.squared 1]

          .datasheet__category__item
            .datasheet__category__item__img
              img(src='/images/inline/composteira.svg')
            p Horta com composteira elétrica
          
          .datasheet__category__item
            .datasheet__category__item__img
              img(src='/images/inline/lavanderia.svg')
            p Lavanderia*#[span.squared 1]

          .datasheet__category__item
            .datasheet__category__item__img
              img(src='/images/inline/bicicleta.svg')
            p Compartilhamento de bicicletas

          .datasheet__category__item
            .datasheet__category__item__img
              img(src='/images/inline/carro.svg')
            p Aluguel de carro*#[span.squared 1]

          .datasheet__category__item
            .datasheet__category__item__img
              img(src='/images/inline/lavagem.svg')
            p Área para lavagem de carros

          .datasheet__category__item
            .datasheet__category__item__img
              img(src='/images/inline/compressor.svg')
            p Compressor para encher pneus*#[span.squared 3]


        .col-25.padright-20
          .datasheet__category__name segurança

          .datasheet__category__item
            .datasheet__category__item__img
              img(src='/images/inline/automacao.svg')
            p Automação de portões

          .datasheet__category__item
            .datasheet__category__item__img
              img(src='/images/inline/eclusa.svg')
            p Eclusa no acesso de pedestres

          .datasheet__category__item
            .datasheet__category__item__img
              img(src='/images/inline/sistema.svg')
            p Sistema CFTV
          
          .datasheet__category__item
            .datasheet__category__item__img
              img(src='/images/inline/seguranca.svg')
            p Segurança perimetral

          .datasheet__category__item
            .datasheet__category__item__img
              img(src='/images/inline/24-hrs.svg')
            p Portaria 24h

        p.datasheet__obs 1. Serviços oferecidos no sistema pay-per-use; 2. O sistema de irrigação automático contemplará aproximadamente 95% da área verde projetada para o empreendimento, devendo sua manutenção ser arcada pelo condomínio;  3. A água utilizada para a irrigação do jardim e lavagem de carros será proveniente do reservatório de reuso; 4. A unidade 1101 terá 2 vagas de carro; As imagens de paisagismo constantes do material publicitário possuem fins meramente comerciais e não serão entregues nos portes representados, devendo qualquer consulta sobre os equipamentos do condomínio serem verificadas diretamente no memorial descritivo constante do memorial de incorporação. O plantio das espécies determinadas conforme projeto específico será efetuado com mudas de menor porte que dependerão, para seu desenvolvimento, das condições locais e da manutenção do condomínio.  Todas as imagens utilizadas neste material são meramente ilustrativas e não vinculantes. O projeto poderá sofrer alterações para atender às exigências dos órgãos públicos, conforme memorial descritivo do empreendimento constante do memorial de incorporação. Os móveis e equipamentos têm dimensões comerciais. Nas plantas e perspectivas, os objetos de decoração, marcenaria, painéis e molduras, vidros e espelhos, eletrodomésticos e demais equipamentos, luminárias, pisos, rodapés, louças, metais, molduras, forros e sancas de gesso, e pontos de iluminação são meras sugestões de decoração e possuem caráter ilustrativo, não fazendo parte integrante do contrato. Memorial de Incorporação registrado sob o R-5 da matrícula nº 135.725 do 11º Ofício de Registro de Imóveis do Rio de Janeiro. Arquitetos responsáveis pelo projeto legal: Celso Rayol Júnior CAU/BR A18838-7, e Fernando José B. da Costa Junior CAU/BR A52845-5. Engenheiro responsável pela execução de obra: Carlos Eduardo Mendes de Moraes CREA: 1979102026.
        


    include includes/menu.pug
    
    #modal.modal
      .modal__close x
      .modal__content
        .frame__wrapper
          iframe(width='560', height='315', src='https://www.youtube.com/embed/GY02YyPC2iI?rel=0&amp;showinfo=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen)

      
    script(src='./scripts/jquery-3.3.1.min.js')
    script(src='./scripts/main.min.js')


