doctype html  
html(lang='pt-BR')
  include includes/head.pug
  body
    include includes/header.pug

    #content.content.no-padding
      .introduction
        img.introduction__logo(src='/images/inline/logo.svg')
        .introduction__infos
          h1.introduction__title Dois quartos
          p.introduction__subtitle com suíte e varanda (68m²)
          p.introduction__paragraph Melhores ofertas de Coberturas Lineares!

        .introduction__ahead
          p.introduction__ahead__title Deixe-se acolher por esse novo estilo de vida.
          a.introduction__ahead__go #[strong para começar:] scroll ou clique #[img(src='/images/inline/arrow-01-home.svg')]
      
      .overscroll
        .row
          .col-small.col-1
            h1.enterprise__chapter
              span 01
              p NATURALMENTE  URBANO
            p.enterprise__paragraph O #[strong Urbá#87] chega à região da Tijuca, criando uma nova experiência em moradia, com espaços criados para serem cenários de experiências em comunhão: com pessoas, com o verde, com o design e com a cidade. 
            p.enterprise__paragraph Deixe-se acolher por esse novo estilo de vida.  #[strong Bem-vindos ao Urbá#87].

            .video.enterprise__video
              .video__wrap
                img.video__play(src='/images/inline/play.svg')
                span.video__title ver vídeo urbá#87

          .col-middle.col-2.padright-30.border-right
            img(src='./images/Urba_dia.jpg')

          .col-small.col-3
            .modal-thumb.marginbottom-30
              img.modal-thumb__img(src='./images/Urba_casaroes.jpg')
              .modal-thumb__title
                h3 ver planta do casarão
                img(src='/images/inline/plantas.svg')

            h1.enterprise__chapter
              span 02
              p CASARÕES
            p.enterprise__paragraph Uma #[strong atenção especial] foi dedicada à #[strong arquitetura] e ao #[strong paisagismo] do empreendimento. #[strong Os casarões] com pé direto alto, parte da paisagem local, mantém azulejos e pedras tradicionais conservados, valorizando #[strong as áreas comuns].

          .col-small.col-4
            .carousel__column.carousel__column--four
              .carousel__dot.active(data-index='0')
                h3 COMEMORAR
                p #[strong Espaço perfeito] para vivenciar e trocar experiências.
              .carousel__dot(data-index='1')
                h3 conviver
                p Um salão que é a #[strong extensão do seu lar], para receber e fazer amigos.
              .carousel__dot(data-index='2')
                h3 brincar
                p Espaço livre e seguro para a #[strong imaginação correr solta].
              .carousel__dot(data-index='3')
                h3 EXERCITAR
                p Academia projetada em ambiente #[strong amplo e inspirador], dedicado ao seu relaxamento e bem-estar.

          .col-large.col-5
            .perspective__carousel.owl-carousel.owl-theme
              .item
                img(src='./images/Urba_G05_Perspectivas01.jpg')
              .item
                img(src='./images/Urba_G05_Perspectivas02.jpg')
              .item
                img(src='./images/Urba_G05_Perspectivas03.jpg')
              .item
                img(src='./images/Urba_G05_Perspectivas04.jpg')

          .col-small.col-6
            h1.enterprise__chapter
              span 03
              p ROOFTOP
            p.enterprise__paragraph Na área #[strong comum da cobertura], uma ampla e linda vista alcança o #[strong Cristo] e se torna moldura para momentos de lazer e descanso.  #[strong Piscina, sauna] e um #[strong quintal gourmet], com churrasqueira e forno de pizza, completam as opões de lazer que o #[strong Urbá#87] oferece.

            .modal-thumb.marginbottom-30
              .modal-thumb__title
                h3 ver planta do casarão
                img(src='/images/inline/plantas.svg')
              img.modal-thumb__img(src='./images/Urba_rooftop.jpg')
              
          .col-small.col-7
            .carousel__column.carousel__column--three
              .carousel__dot.active(data-index='0')
                h3 relaxar
                p Espaço com #[strong sauna e skypool] com vista privilegiada, para usar na hora que você quiser.
              .carousel__dot(data-index='1')
                h3 GRELHAR E ASSAR
                p Ambientes com espaço de sobra para #[strong se divertir com os amigos], seja grelhando ou assando.
              .carousel__dot(data-index='2')
                h3 skypool
                p Dia e noite, sem #[strong nenhum prédio ao redor], há espaço de sobra para celebrar ou relaxar.

          .col-large.col-8
            .perspective__carousel.owl-carousel.owl-theme
              .item
                img(src='./images/Urba_G05_Perspectivas01.jpg')
              .item
                img(src='./images/Urba_G05_Perspectivas02.jpg')
              .item
                img(src='./images/Urba_G05_Perspectivas03.jpg')
              .item
                img(src='./images/Urba_G05_Perspectivas04.jpg')

          .col-small.col-9
            .modal-thumb.marginbottom-30
              img.modal-thumb__img(src='./images/Urba_fachada.jpg')

            h1.enterprise__chapter
              span 04
              p A ARTE DE VIVER BEM

            p Uma atenção especial foi dedicada à arquitetura e ao paisagismo do empreendimento. Os casarões com pé direto alto, parte da paisagem local, mantém azulejos e pedras tradicionais conservados, valorizando as áreas comuns.

          .col-small.col-10
            .carousel__column.carousel__column--four
              .carousel__dot.active(data-index='0')
                h3 produzir
                p Uma sala que é o meio termo perfeito entre a #[strong casa e o escritório].
              .carousel__dot(data-index='1')
                h3 lavar
                p Lavanderia compartilhada e sustentável, com #[strong máquinas semi-industriais], para cuidar de suas roupas e do planeta.
              .carousel__dot(data-index='2')
                h3 estacionar
                p Espaço para compartilhamento de bikes e carro, #[strong ponto de energia] para veículos elétricos e área para #[strong lavagem] de carros.
              .carousel__dot(data-index='3')
                h3 plantar
                p Horta #[strong compartilhada] para plantar e colher boas #[strong histórias] entre vizinhos.

          .col-large.col-11
            .perspective__carousel.owl-carousel.owl-theme
              .item
                img(src='./images/Urba_G05_Perspectivas01.jpg')
              .item
                img(src='./images/Urba_G05_Perspectivas02.jpg')
              .item
                img(src='./images/Urba_G05_Perspectivas03.jpg')
              .item
                img(src='./images/Urba_G05_Perspectivas04.jpg')
          
          .col-small.col-11.end-scroll.no-pad
            a.link
              p Clique para saber mais
              h4 plantas

    include includes/menu.pug
    #loading.loading
      .loading__content
        img.loading__content__img(src='/images/inline/loading.png', inline)
        p.loading__content__percent 50%
        p.loading__content__welcome
          strong bem-vindo ao urbá#87 
          br
          | sua nova moradia na Tijuca
      
    script(src='./scripts/jquery-3.3.1.min.js')
    script(src='./scripts/owl.carousel.min.js')
    script(src='./scripts/main.min.js')





