doctype html  
html(lang='pt-BR')
  include includes/head.pug
  body.home
    #loading.loading
      .loading__content
        .ldBar.no-percent(data-value="0", data-type="fill", data-fill-dir="btt", data-fill-background="transparent", data-fill="#372e2d" data-fill-background-extrude="0", data-path="M27.2330784,26.8761658 C27.2248565,28.9209277 26.4121508,30.0467169 25.7638836,30.5564843 C24.7728253,31.3363146 23.6356698,31.6848033 22.3783477,31.6506501 C22.2746249,31.6481203 22.1310575,31.6683592 22.1032294,31.5412336 C22.0690768,31.3850145 22.2183364,31.3850145 22.3214267,31.3742626 C22.8520571,31.3211355 23.1284403,30.9359638 23.1316025,30.1605607 C23.139192,28.2796074 23.1777718,18.8457476 23.182199,17.7977517 C23.1847288,17.1070991 23.039264,16.7143378 22.359374,16.5309227 C22.2746249,16.5075215 22.1645776,16.5024618 22.1601504,16.4031646 C22.1519285,16.2437833 22.2948635,16.2564326 22.3966889,16.2558001 C24.0872432,16.2450482 25.5020469,16.8452582 26.5203007,18.2196064 C27.0857162,18.9823602 27.2197968,19.8096254 27.2469924,20.7115217 C27.2786152,21.7709019 27.2280188,25.8819296 27.2330784,26.8761658 M21.0027563,31.6076425 C20.9192721,31.6304112 20.8300959,31.6449579 20.7434494,31.6430605 C19.4304712,31.6152321 18.2237455,31.2781278 17.1890478,30.4287262 C16.4667833,29.8354733 16.0923695,29.0524806 15.9968687,28.1455247 C15.9254012,27.4656239 15.8912485,26.7806635 15.8950433,26.0938056 C15.9247687,20.6988724 15.9424775,15.305204 15.9652459,9.91153569 C15.9684081,9.08553535 16.8083095,9.08806521 16.8083095,9.08806521 L19.2616055,9.09818467 C19.2616055,9.09818467 20.0123305,9.101347 20.0091683,9.92734733 C20.0015788,11.939221 19.9585718,27.2031506 19.9465551,30.3091902 C19.9440253,30.913195 20.2020673,31.1693437 20.777602,31.3527587 C20.8604538,31.3793223 20.94963,31.3869119 21.0305844,31.4179027 C21.05778,31.4280222 21.0849756,31.4868415 21.0799159,31.5184648 C21.0742238,31.5532504 21.035644,31.5994204 21.0027563,31.6076425 M14.0773653,16.2039379 C14.0590241,16.3095597 13.9445496,16.3171493 13.8408268,16.3247389 C11.9320752,16.4695736 9.85382548,15.1186266 9.37948363,13.401482 C9.1151171,12.4464586 9.24160826,11.1631855 9.24413809,10.5427366 C9.24666791,9.94758624 9.08918642,9.51434716 8.47064464,9.34231647 C8.37577627,9.3157529 8.20311584,9.32776975 8.24485792,9.15320919 C8.27268598,9.03240822 8.40423679,9.07035617 8.49151569,9.07098864 C10.6532496,9.08237302 13.1767482,10.2612893 13.0976913,13.2926978 C13.0679659,14.4418882 13.1027509,13.7303642 13.0831448,14.8795545 C13.0730255,15.453201 13.2469508,15.8706284 13.8541084,16.0059761 C13.9679505,16.0312748 14.1045609,16.0508812 14.0773653,16.2039379 M20.0806358,0.00016414518 C9.03606013,-0.0441084608 0.045700937,8.87302684 0.000164119437,19.919042 C-0.0441077865,30.9650572 8.87415144,39.9555585 19.9193595,39.9998312 C30.9645676,40.0447362 39.9549268,31.1269685 39.9998312,20.0809533 C40.0447355,9.03557055 31.1264763,0.0444367511 20.0806358,0.00016414518")
        p.loading__content__percent 0%
        p.loading__content__welcome
          strong bem-vindo ao urbá#87 
          br
          | sua nova moradia na Tijuca

      .loading__instructions
        p #[strong para navegar:] scroll ou clique #[img(src='/images/inline/arrowbemvindo.svg')]
      

    include includes/header.pug

    #content.content.no-padding.content--no-header
      .introduction
        img.introduction__logo(src='/images/inline/logo.svg')
        .introduction__infos
          h1.introduction__title Dois quartos
          p.introduction__subtitle com suíte e varanda (68#[span m]²)
          p.introduction__paragraph Melhores ofertas de Coberturas Lineares!

        .introduction__ahead
          p.introduction__ahead__title Deixe-se acolher por esse novo estilo de vida.
          a.introduction__ahead__go #[strong para começar:] scroll ou clique #[img(src='/images/inline/arrow-01-home.svg')]
      
      .overscroll
        .row
          .col-small.col-1
            h1.enterprise__chapter#natural
              span 01
              p NATURALMENTE  URBANO
            p.enterprise__paragraph O #[strong Urbá#87] chega à região da Tijuca, criando uma nova experiência em moradia, com espaços criados para serem cenários de experiências em comunhão: com pessoas, com o verde, com o design e com a cidade. 
            p.enterprise__paragraph Deixe-se acolher por esse novo estilo de vida.  #[strong Bem-vindos ao Urbá#87].

            .video.enterprise__video.js-open-modal(data-item='video')
              .video__wrap
                img.video__play(src='/images/inline/play.svg')
                span.video__title ver vídeo urbá#87

          .col-middle.col-2.padright-30.border-right
            .slider
              .slider.responsive
                .left.image
                  img(src='./images/Urba_dia.jpg')
                .right.image
                  img(src='./images/Urba_noite.jpg')

          .col-small.col-3
            .modal-thumb.marginbottom-30.js-open-modal(data-item='casarao')
              img.modal-thumb__img(src='./images/Urba_casaroes.jpg')
              .btn.modal-thumb__title
                h3 ver planta do casarão
                img(src='/images/inline/plantas.svg')

            h1.enterprise__chapter#casarao
              span 02
              p CASARÕES
            p.enterprise__paragraph Uma #[strong atenção especial] foi dedicada à #[strong arquitetura] e ao #[strong paisagismo] do empreendimento. #[strong Os casarões] com pé direto alto, parte da paisagem local, mantém azulejos e pedras tradicionais conservados, valorizando #[strong as áreas comuns].

          .col-small.col-4
            .carousel__column.carousel__column--four
              .carousel__dot.celebrate__dot.active(data-index='0')
                h3 COMEMORAR
                p #[strong Espaço perfeito] para vivenciar e trocar experiências.
              .carousel__dot.celebrate__dot(data-index='1')
                h3 conviver
                p Um salão que é a #[strong extensão do seu lar], para receber e fazer amigos.
              .carousel__dot.celebrate__dot(data-index='2')
                h3 brincar
                p Espaço livre e seguro para a #[strong imaginação correr solta].
              .carousel__dot.celebrate__dot(data-index='3')
                h3 EXERCITAR
                p Academia projetada em ambiente #[strong amplo e inspirador], dedicado ao seu relaxamento e bem-estar.

          .col-large.col-5
            .celebrate__carousel.owl-carousel.owl-theme
              .item
                img(src='./images/Urba_G02_Comemorar.jpg')
              .item
                img(src='./images/Urba_G02_Conviver.jpg')
              .item
                img(src='./images/Urba_G02_brincar.jpg')
              .item
                img(src='./images/Urba_G02_exercitar.jpg')

          .col-small.col-6
            h1.enterprise__chapter#rooftop
              span 03
              p ROOFTOP
            p.enterprise__paragraph Na área #[strong comum da cobertura], uma ampla e linda vista alcança o #[strong Cristo] e se torna moldura para momentos de lazer e descanso.  #[strong Piscina, sauna] e um #[strong quintal gourmet], com churrasqueira e forno de pizza, completam as opões de lazer que o #[strong Urbá#87] oferece.

            .modal-thumb.marginbottom-30.js-open-modal(data-item='rooftop')
              .btn.modal-thumb__title
                h3 ver planta do casarão
                img(src='/images/inline/plantas.svg')
              img.modal-thumb__img(src='./images/Urba_rooftop.jpg')
              
          .col-small.col-7
            .carousel__column.carousel__column--three
              .carousel__dot.plant__dot.active(data-index='0')
                h3 relaxar
                p Espaço com #[strong sauna e skypool] com vista privilegiada, para usar na hora que você quiser.
              .carousel__dot.plant__dot(data-index='1')
                h3 GRELHAR E ASSAR
                p Ambientes com espaço de sobra para #[strong se divertir com os amigos], seja grelhando ou assando.
              .carousel__dot.plant__dot(data-index='2')
                h3 skypool
                p Dia e noite, sem #[strong nenhum prédio ao redor], há espaço de sobra para celebrar ou relaxar.

          .col-large.col-8
            .plant__carousel.owl-carousel.owl-theme
              .item
                img(src='./images/Urba_G03_relaxar.jpg')
              .item
                img(src='./images/Urba_G03_churrasqueira.jpg')
              .item
                img(src='./images/Urba_G03_skypool.jpg')

          .col-small.col-9
            .modal-thumb.marginbottom-30
              img.modal-thumb__img(src='./images/Urba_fachada.jpg')

            h1.enterprise__chapter#art
              span 04
              p A ARTE DE VIVER BEM

            p.enterprise__paragraph Uma atenção especial foi dedicada à arquitetura e ao paisagismo do empreendimento. Os casarões com pé direto alto, parte da paisagem local, mantém azulejos e pedras tradicionais conservados, valorizando as áreas comuns.

          .col-small.col-10
            .carousel__column.carousel__column--four
              .carousel__dot.art__dot.active(data-index='0')
                h3 produzir
                p Uma sala que é o meio termo perfeito entre a #[strong casa e o escritório].
              .carousel__dot.art__dot(data-index='1')
                h3 lavar
                p Lavanderia compartilhada e sustentável, com #[strong máquinas semi-industriais], para cuidar de suas roupas e do planeta.
              .carousel__dot.art__dot(data-index='2')
                h3 estacionar
                p Espaço para compartilhamento de bikes e carro, #[strong ponto de energia] para veículos elétricos e área para #[strong lavagem] de carros.
              .carousel__dot.art__dot(data-index='3')
                h3 plantar
                p Horta #[strong compartilhada] para plantar e colher boas #[strong histórias] entre vizinhos.

          .col-large.col-11
            .art__carousel.owl-carousel.owl-theme
              .item
                img(src='./images/Urba_G04_produzir.jpg')
              .item
                img(src='./images/Urba_G04_lavar.jpg')
              .item
                img(src='./images/Urba_G04_estacionar.jpg')
              .item
                img(src='./images/Urba_G04_plantar.jpg')
          
          .col-small.col-11.end-scroll.no-pad
            a.link
              p Clique para saber mais
              h4 plantas

    include includes/menu.pug

    .modal.js-modal
      .modal__close x
      .modal__content
        .frame__wrapper.modal__video
          iframe(width='560', height='315', src='https://www.youtube.com/embed/GY02YyPC2iI?rel=0&amp;showinfo=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen)

        img.img-casarao(src='./images/12-TERREO_HI_FINAL.jpg')
        img.img-rooftop(src='./images/13-COBERTURA_HI_FINAL.jpg')


      
    script(src='./scripts/jquery-3.3.1.min.js')
    script(src='./scripts/owl.carousel.min.js')
    script(src='./scripts/imagSlider.js')
    script(src='./scripts/loading-bar.min.js')
    script(src='./scripts/main.min.js')





