doctype html  
html(lang='pt-BR')
  include includes/head.pug
  body
    include includes/header.pug

    #content.content.content--no-header.plant
      .plant__introduction
        .left
          a.plant__introduction__item(href='#', data-type='pavimento') pavimento tipo
          a.plant__introduction__item(href='#', data-type='masterplans') masterplans
        .right


      .row.row--stretch
        .col-25.first
          .select.select__plant
            .select__item
              p Pavimento tipo
              span
            .select__dropdown
              .select__dropdown__item Plantas
              .select__dropdown__item Plantas 2

          h1.plant__title Plantas
          .plant__infos.first
            .plant__infos__item
              .plant__infos__item__img
                img(src='/images/inline/fechadura.svg')
              p Fechadura biométrica nas unidades

            .plant__infos__item
              .plant__infos__item__img
                img(src='/images/inline/piso.svg')
              p Piso igual em todo o apartamento (amplitude e integração dos ambientes)

            .plant__infos__item
              .plant__infos__item__img
                img(src='/images/inline/esquadrias.svg')
              p Esquadrias em atendimento a norma de desempenho acústico

            .plant__infos__item
              .plant__infos__item__img
                img(src='/images/inline/restaurante.svg')
              p Cozinha integrada com a sala

            .plant__infos__item
              .plant__infos__item__img
                img(src='/images/inline/arcondicionado.svg')
              p Preparação para ar condicionado tipo split (elétrica e dreno)

            .plant__infos__item
              .plant__infos__item__img
                img(src='/images/inline/varandas.svg')
              p Varandas generosas

            .plant__infos__item
              .plant__infos__item__img
                img(src='/images/inline/parede.svg')
              p Paredes das áreas molhadas 100% revestidas

        .col-50.second
          .plant__carousel.owl-carousel.owl-theme
            .item
              img(src='./images/01_PAVTIPO-COLUNA 02_HI_FINAL.jpg')
            .item
              img(src='./images/02_PAVTIPO-COLUNA 04_HI_FINAL.jpg')

        .col-25.third
          .plant__space
            a.plant__space__download.first(href='./assets/Maestra_urba87_plantashumanizadas.pdf', target='_blank')
              p download plantas
              img(src='/images/inline/download.svg')
            .plant__space__infos
              img.plant__space__infos__img(src='/images/inline/legenda-01.svg')
              h3.plant__space__infos__title COLUNA 05
              .plant__space__infos__type 
                strong Tipo de imóvel: 
                span Pavimento TIPO
              .plant__space__infos__column
                strong Coluna: 
                span 05
              .plant__space__infos__area
                strong Área Privativa: 
                span 68,44 m²
              .plant__space__infos__option
                strong Opção: 
                .select.select__space__infos
                  .select__item
                    p Planta padrão
                    span
                  .select__dropdown
                    .select__dropdown__item Planta Gisele Taranto
                    .select__dropdown__item Planta Suíte Ampliada
        
          .plant__infos.second
            .plant__infos__item
              .plant__infos__item__img
                img(src='/images/inline/fechadura.svg')
              p Fechadura biométrica nas unidades

            .plant__infos__item
              .plant__infos__item__img
                img(src='/images/inline/piso.svg')
              p Piso igual em todo o apartamento (amplitude e integração dos ambientes)

            .plant__infos__item
              .plant__infos__item__img
                img(src='/images/inline/esquadrias.svg')
              p Esquadrias em atendimento a norma de desempenho acústico

            .plant__infos__item
              .plant__infos__item__img
                img(src='/images/inline/restaurante.svg')
              p Cozinha integrada com a sala

            .plant__infos__item
              .plant__infos__item__img
                img(src='/images/inline/arcondicionado.svg')
              p Preparação para ar condicionado tipo split (elétrica e dreno)

            .plant__infos__item
              .plant__infos__item__img
                img(src='/images/inline/varandas.svg')
              p Varandas generosas

            .plant__infos__item
              .plant__infos__item__img
                img(src='/images/inline/parede.svg')
              p Paredes das áreas molhadas 100% revestidas

          a.plant__space__download.second(href='./assets/Maestra_urba87_plantashumanizadas.pdf', target='_blank')
                p download plantas
                img(src='/images/inline/download.svg')


    include includes/menu.pug
    
    #modal.modal
      .modal__close x
      .modal__content
        .frame__wrapper
          iframe(width='560', height='315', src='https://www.youtube.com/embed/GY02YyPC2iI?rel=0&amp;showinfo=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen)

      
    script(src='./scripts/jquery-3.3.1.min.js')
    script(src='./scripts/owl.carousel.min.js')
    script(src='./scripts/main.min.js')


